@import "../../App.scss";

$color_1: #282c34;
$color_2: rgba(256,0,0, .6);
$color_3: gray;
$color_4: aliceblue;
$background-color_1: white;
$card-border-radius: 12px;

.App-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_1;
}
.Login-Error{
	color: red;
	margin: 0 0 10px 18px;
	text-align:left;
    font-size: small;
}
.Login-Forgot-Password {
	font-size: x-small;
}
.Login-Card {
	width: 400px;
	height: 500px;
	border-radius: $card-border-radius;
	text-align: center;
	background-color: $background-color_1;
    border: 1px gray solid;
	padding: 16px 16px 20px 16px;
	box-shadow: 5px 5px 10px;
}
.Social-Login-Group {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}
.Login-Title {
	text-align: center;
	font-size: x-large;
	padding: 10px 0 9px 0;
	border-bottom: 1px $color_3 solid;
	margin-bottom: 20px
}
.Login-Subtitle {
	text-align: center;
	font-size: small;
    margin: 10px 0 10px 0;
}
.Login-Logo {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.Login-Input-Group {
	font-size: 14px;
	text-align: flex-start;
	align-items: flex-start;
	margin: 10px 0 10px 0;
}
.Login-Input-Form{
	// border: solid 1px #414750;
	// border-radius: 3px;
	// width: fit-content;
	display: flex;
	flex-direction: row;
}
.Login-Input {
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px $color_3 solid;
	width: 90%;
    outline: none;
	&:focus{
		border-bottom: 2px blue solid;
	}
}
.login-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-family: "Roboto","Noto Sans";
    font-weight: 600;
    padding: 8px 8px 8px 8px;
    &:hover{
        background-color: $button_background_color-hovered;
    }
    &:disabled{
        background-color: $button_background_color-disabled;
    }
}
.Social-Login-Button {
	width: 33%;
}
.login-empty-separator{
    height: 150px;
}