.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.Login-Forgot-Password{
    font-size: x-small;
}
.Login-Card{
    width: 300px;
    height: 500px;
    border-radius: 12px;
    text-align: center;
    background-color: white;
}

.Social-Login-Group{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.Login-Title{
    margin-top: 30px;
    text-align: center;
}
.Login-Subtitle{
    text-align: center;
    font-size: small;
}

.Login-Logo{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.Login-Input-Group{
    font-size: medium;
    text-align: flex-start;
    margin: 10px 0 10px 0;
}

.Login-Input-Form{
    border: solid 1px #414750;
    border-radius: 3px;
    width: 300px;
}

.Social-Login-Button{
    width: 33%
}