  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: #282c34;
  }

  h3 {
    font-weight: 100;
  }
  
  .Image-Gallery{
    max-width: 500px;
    margin: auto;
  }

  .Image-Frame{
  }

.carousel .carousel-status {
  left: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  text-shadow: none;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}