@import "../../App.scss";

$color_1: #282c34;
$color_2: rgba(256,0,0, .6);
$color_3: gray;
$color_4: aliceblue;
$card-border-radius: 12px;

.register-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_1;
}
.register-card {
	width: fit-content;
	padding: 16px 16px 20px 16px;
	border: solid 1px $color_3;
	border-radius: $card-border-radius;
	box-shadow: 5px 5px 10px;
}
.register-title {
	font-size: x-large;
	padding: 10px 0 9px 0;
	border-bottom: 1px $color_3 solid;
	margin-bottom: 20px;
}
.register-input-group {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px;
	padding: 3px 0 5px 0;
}
.register-text-danger {
    color: $color_danger;
}
.register-input-feedback {
	font-size: 10px;
	color: $color_3;
}
.register-input-feedback-error {
	font-size: 10px;
}
.register-input {

	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px $color_3 solid;
	width: 450px;
	outline: none;
    &-short{
        font-size: 14px;
        border-radius: 0;
        border: none;
        border-bottom: 1px $color_3 solid;
        width: 212px;
		outline: none;
		&:focus{
			border-bottom: 2px blue solid;
		}
    }
	&:focus{
		border-bottom: 2px blue solid;
	}
}
.register-full-name-input-group{
    display: flex;
    flex-direction: row;
}
.register-submit-button {
	background-color: $button_background_color;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-family: "Roboto","Noto Sans";
    font-weight: 600;
    padding: 8px 8px 8px 8px;
    &:hover{
        background-color: $button_background_color-hovered;
    }
	&:disabled {
		background-color: $button_background_color-disabled;
	}
}