.Header{
    display: flex;
}

.Header-Logo {
    padding-top: 20px;
    padding-left: 30px;
    height: 30vmin;
    width: 40vmin;
}

.Header-Logo-Logo {
    height: 25vmin;
    pointer-events: none;
}

.Header-Menu-and-Title {
    display: flex;
    flex-direction: column;

    border-bottom: #bbbbbb 2px solid;
}

.Header-Title {
    height: 60%;
    width: 600px;
    display: table;

    padding-left: 0px;
    padding-bottom: 10px;
}

.span-title {
    font-size:38px;
    font-weight: 400;

    text-align: left;
    vertical-align: bottom;
    display: table-cell;
}

.Header-Menus {
    height: 30%;
    display: flex;
    flex-direction: row;
}

.Header-Menu-Tabs {
    display: flex;
    flex-direction: row;
}

.Menu-Tab {
    width: 190px;
    height: 50px;
    text-align: center;
    display: table;
    height: 100%;
}

.Menu-Tab:hover {
    width: 190px;
    height: 50px;
    text-align: center;
    display: table;
    background-color: lightblue;
    height: 100%;
}

.Menu-Tab-active {
    width: 190px;
    height: 50px;
    text-align: center;
    background-color: #006eff;
    color:beige;
    display: table;
    height: 100%;
}

.span-menu {
    display: table-cell;
    vertical-align: middle;
}

.Settings-Header-Menu-Separator {
    width: 500px;
    font-size: small;
    color: darkgray;
    font-style: italic;
}

.Settings-Section {
    border: "1px red solid";
    width: "fit-content";
    text-align: "left"
}

.Settings-Change-Password{
    display: flex;
    flex-direction: column;
}

.Settings-Full-Name-Input-Group{
    margin: 5px 5px 5px 5px;
}

.Header-Right-Menus {
    display: flex;
    flex-direction: row;
}

.Settings-Title-Section{
    border-bottom: #bbbbbb 1px solid;
    width: auto;
    text-align: left;
    font-size: x-large;
    font-weight: 600;
}

.Header-Right-Menu-Name {
    display: table;
    padding: 0 5px 10px 5px;
    width: 140px;
}

.Header-Right-Menu {
    display: table;
    padding: 0 5px 10px 5px;
    width: 60px;
    cursor:pointer;
}

.Header-Right-Menu:hover {
    display: table;
    padding-bottom: 10px;
    width: 60px;
    cursor:pointer;
    background-color: lightblue;
}

.Settings-Account-Info-Fullname {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 5px 5px;
}
.Settings-Account-Info{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
}

.settings-change-password-container {
    display: flex;
    flex-direction: row;
}

.settings-change-password-icon-container {
    padding: 0 2px 0 2px;
}

.span-right-menu {
    display: table-cell;
    vertical-align: bottom;
}
