$color_1: white;
$font-family_button: Arial, Helvetica, sans-serif;
$background-color_1: #006eff;
$background-color_2: #0053be;
$background-color_3: steelblue;
$background-color_4: gray;

.Content {
	margin-left: 100px;
	width: 80vw;
}
.Content-Header {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.Content-Header-Title {
	text-align: left;
	font-size: x-large;
	min-width: 500px;
}
.Content-Header-Subtitle {
	text-align: left;
	font-size: medium;
	min-width: 500px;
}
.Content-Header-Link {
	text-align: left;
	font-size: small;
	min-width: 500px;
}
.iframe-wrapper {
	border: 1px blue dotted;
	width: 90vw;
	height: 100vh;
	position: relative;
}
.wide-input-certificate {
	input {
		min-width: 600px;
		height: 30px;
		border-radius: 6px;
		font-size: larger;
	}
}
.button button {
	font-size: 20px;
	color: $color_1;
	font-family: $font-family_button;
	background-color: $background-color_1;
	border-radius: 8px;
	border: none;
	padding: 6px 12px 6px 12px;
	&:hover {
		background-color: $background-color_2;
	}
}
.Content-Input-Group {
	width: fit-content;
}
.Content-Input-Container {
	margin: 20px 0 20px 0;
}
.Content-Button-Container {
	margin: 20px 0 20px 0;
}
.page-navigation{
	button{
		border-radius: 0;
		font-size: small;
		max-width: fit-content;
		background-color: $background-color_3;
		&:disabled {
			background-color: $background-color_4;
		}
	}
}
.pagination-status {
	margin-top: 20px;
	display: flex;
	align-items: stretch;
	font-size: small;
}
.pagination-status-page-size {
	margin-right: 20px;
}
.Verification-Input-Form {
	display: flex;
	margin: 10px 0 10px 0;
}
.input-verification-label {
	width: 200px;
	text-align: left;
	input {
		width: 200px;
		text-align: flex-start;
	}
}
.iframe-component, .loading-wrapper {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
}

.loading-wrapper {
	z-index: 10;
  }