
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
    /* Tooltip text */
  
    .tooltiptext {
      border: none;
      visibility: hidden;
      width: fit-content;
      font-size: small;
      background-color: rgb(250, 255, 189);
      color: #000;
      text-align: center;
      padding: 0 5px 2px 5px;
     
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }