$color_1: #414750;
$color_2: #282c34;
$color_3: #61dafb;

$color_danger: red;

$button_background_color: blue;
$button_background_color-hovered: rgb(27, 62, 107);
$button_background_color-disabled: slategrey;


$button_color: white;
$button_color-hovered: white;
$button_color-disabled: white;

// $font-size_title: small;
// $font-size_subtitle: small;
// $font-size_paragraph: small;
// $font-size_input: small;
// $font-size_label: small;
// $font-size_button: small;

$font-family_primary: 'Noto Sans';
$font-family_secondary: 'Roboto';

$background-color_1: white;
@import '@fontsource/roboto/100.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@import "https://fonts.googleapis.com/css?family=Noto Sans";
@import "https://fonts.googleapis.com/css?family=Roboto";

// @keyframes App-logo-spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
// .App {
// 	text-align: center;
// }
// h1 {
// 	font-weight: 100;
// }
// div {
// 	font-family: $font-family_primary;
// 	color: $color_1;
// }
// p {
// 	font-family: $font-family_secondary;
// 	font-size: 22px;
// 	font-stretch: condensed;
// 	color: $color_1;
// }
// .App-logo {
// 	height: 40vmin;
// 	pointer-events: none;
// }
// .App-header {
// 	background-color: $background-color_1;
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	font-size: calc(10px + 2vmin);
// 	color: $color_2;
// }
// .App-link {
// 	color: $color_3;
// }
// @media (prefers-reduced-motion: no-preference) {
// 	.App-logox {
// 		animation: App-logo-spin infinite 20s linear;
// 	}
// }
